
/* Header */ 

.header {

	height: 25px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	
}

/**/ 

/* Main Container */ 

.container {
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: 10px;
	min-width: 800px;
	max-width: 800px;
	max-height: 2000px;

}

/**/ 

/* Main Page Two Column Layout */ 

.row1 {
	min-width: 350px;
	max-width: 350px;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	float: left;
}

.row2 {
	min-width: 350px;
	max-width: 350px;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	float: left;
}

/**/ 

/* Work Page Layout */

.workdiv {
	width: 78%;
	max-height: 2000px;
	margin-right: auto;
	margin-left: auto;
	
}

.worktile {
	min-height: 100px;
	max-height: 100px;
	min-width: 100px;
	max-width: 100px;
	margin-bottom: 2em;
	margin-right: 4px;
	margin-left: 4px;
	background-color: black;
	float: left;
	
}

.photoessay {
	min-height: 400px;
	max-height: 400px;
	min-width: 600px;
	max-width: 600px;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
}

/**/ 

/* Work Page Template */ 

.article {

}

.align {
	text-align: center;
}

/* s 

* {
   background: rgba(200, 54, 54, 0.5); 
}

/* Conference Page */ 

.con {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black; 
	padding: 1em;
	margin-bottom: 6em;
}

.con p {

	font-variant: normal;
	text-decoration: none;
	line-height: 1.5em;

}

.con-caption {

	font-size: 10px;

}

/* */

.textworkdiv {

	min-width: 80%;
	height: 300px;
	margin-left: 20px;
	float: left;

}

.textworkdiv a {
	text-decoration: none;
}



